<body>
    <div class="header">
        <div class="title-container">
            <img class="logo" src="../assets/leaf_t.gif" alt="">
            <h1 class="title"><a href="../index.html">Autumn's Website!</a></h1>
            <!-- <img class="logo" src="../assets/leaf_t.gif" alt=""> -->
        </div>
        <ul class="links">
            <li><a href="../pages/about.html">About</a></li>
            <li><a href="../pages/trashcan.html">Trash can</a></li>
            <li><a href="../pages/writing.html">Writing</a></li>
            <li><a href="../pages/bike.html">Bike</a></li>
            <li><a href="../pages/music.html">Music</a></li>
            <li><a href="../pages/zoningVisualizer.html">Zoning Visualizer</a></li>
        </ul>
    </div>
</body>